
# BEGIN SPHP
<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /PetabyteProjects/admin.techgeekclub.com.ng/index.php [L]

RewriteCond %{REQUEST_FILENAME} !index\.php
RewriteCond %{REQUEST_FILENAME} \.php$
RewriteRule ^(.*)$ /PetabyteProjects/admin.techgeekclub.com.ng/index.php [L]

</IfModule>

# END SPHP