<form method="post" id="edit-forum" class="row p-4 mt-4 pt-5 p-md-5">

	<div class="col-lg-8">

		<div id="msg" class="alert my-4 bg-white grey lighten-3">##AddForum.message##</div>
		<style type="text/css">
			#msg:empty {
				display: none;
			}
		</style>

		<div class="my-3 bg-white border-bottom border-info-left border-left-5 p-3">

			<h3>##AddForum.Title##</h3>
			<br/>

			<input type="text" name="title" class="browser-default form-control form-control-lg" placeholder="Question Title" value="##AddForum.title##">
			<br/>

			<textarea name="content" class="form-control" style="height: 30rem">##AddForum.content##</textarea>

			<br/>
			<input type="submit" value="Post" name="do_act" class="btn btn-success" />
			<input type="hidden" name="ID" value="##AddForum.ID##">

		</div>

	</div>

	<div class="col-lg-4">

		<div class="my-3 bg-white border-bottom border-info-left border-left-5 p-3">

			<h5>Badges</h5>
			<br/>

			<div class="" style="overflow-y: auto; max-height: 15rem">
				##start_block:AddForum.forum_badges##
		      	<div class="d-flex justify-content-between align-items-center mb-2">
		      		<small class="badge badge-pill" style="background: ###..color##; color: ###..colori##">##..name##</small>
		      		<input type="checkbox" class="browser-default" name="badge##..id##" style="pointer-events: unset; opacity: 1; position: static; display: inline;">
		      	</div>
		      	##end_block:AddForum.forum_badges##
	      	</div>

		</div>

		<div class="my-3 bg-white border-bottom border-info-left border-left-5 p-3">

			<h5>Language Tags</h5>
			<br/>

			<div class="" style="overflow-y: auto; max-height: 15rem">
				##start_block:AddForum.langs##
		      	<div class="d-flex justify-content-between align-items-center mb-2">
			      	<span>
			      		<i class="fa fa-"></i> &nbsp;
			      		<span class="text-uppercase">##..name##</span>
			      	</span>
		      		<input type="checkbox" class="browser-default" name="lang##..id##" style="pointer-events: unset; opacity: 1; position: static; display: inline;">
		      	</div>
		      	##end_block:AddForum.langs##
	      	</div>

		</div>

		<div class="my-3 bg-white border-bottom border-info-left border-left-5 p-3">

			<h5>Information</h5>

			<div class="my-1 d-flex align-items-center justify-content-between">

				<span>Down Votes</span>
				<span>(##AddForum.real_data.downvote##) <i class="fa fa-thumbs-down text-warning"></i></span>

			</div>

			<div class="my-1 d-flex align-items-center justify-content-between">

				<span>Up Votes</span>
				<span>(##AddForum.real_data.upvote##) <i class="fa fa-thumbs-up text-warning"></i></span>

			</div>

			<div class="my-1 d-flex align-items-center justify-content-between">

				<span>Feeds</span>

				<span> ##AddForum.real_data.feeds## <i class="fa fa-wifi text-secondary"></i></span>

			</div>

			<div class="my-1 d-flex align-items-center justify-content-between">

				<span>Answers</span>

				<span> ##AddForum.real_data.ans## <i class="fa fa-comments text-info"></i></span>

			</div>

			<div class="my-1 d-flex align-items-center justify-content-between">

				<span>Created</span>

				<span><i class="fa fa-calendar text-secondary"></i>&nbsp; ##AddForum.real_data.date##</span>

			</div>

		</div>

	</div>

</form>