<div class="p-4 p-md-5 mt-4">

	<div class="row">

		<div class="col-3 mb-4">
			<a href="users/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.UN##</h1>
				<sup>
					<strong>USERS</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.TUN##</font>
				</h4>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="broadcast/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.BN##</h1>
				<sup>
					<strong>BROADCAST</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.TBN##</font>
				</h4>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="posts/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.PN##</h1>
				<sup>
					<strong>POSTS</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.TPN##</font>
				</h4>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="challenges/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.CN##</h1>
				<sup>
					<strong>CHALLENGES</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.TCN##</font>
				</h4>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="solutions/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.SN##</h1>
				<sup>
					<strong>SOLUTIONS</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.TSN##</font>
				</h4>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="files/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.FN##</h1>
				<sup>
					<strong>FILES</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.TFN##</font>
				</h4>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="messages/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.MN##</h1>
				<sup>
					<strong>MESSAGES</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.TMN##</font>
				</h4>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="challenges/?/0" class="orange lighten-2 p-4 text-center link d-block">
				<h1 class="d-inline-block white-text">##AdminDash.HN##</h1>
				<sup>
					<strong>HELPMAILS</strong>
				</sup>
				<h4 class="">
					<font color="navy">##AdminDash.THN##</font>
				</h4>
			</a>
		</div>

	</div>

</div>