<div class="p-4 p-lg-5">

	<span class="text-secondary">
		##ChlPreview.lang##
	</span>
	<br/>

	<h2>##ChlPreview.title##</h2>
	<p>
		##ChlPreview.content##
	</p>

	<br/>
	<h4 class="text-uppercase">
		<strong>OBJECTIVE</strong>
	</h4>
	<p>
		##ChlPreview.obj##
	</p>

	<br/>
	<h4 class="text-uppercase">
		<strong>INPUT</strong>
	</h4>
	<p>
		##ChlPreview.input##
	</p>

	<br/>
	<h4 class="text-uppercase">
		<strong>OUTPUT</strong>
	</h4>
	<p>
		##ChlPreview.output##
	</p>

	<br/>
	<h4 class="text-uppercase">
		<strong>EXAMPLES</strong>
	</h4>
	<p>
		##ChlPreview.example##
	</p>

</div>