<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden; scroll-behavior: smooth;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel='icon' href="##Header##/favicon.png">

	<link rel="stylesheet" href="##site.Url##/static/minify/a-materialize.min.css" type="text/css">
	<link rel="stylesheet" href="##site.Url##/static/minify/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="##site.Url##/static/minify/font-awesome.min.css" type="text/css">

	<script src="##site.Url##/static/minify/jquery.min.js"></script>
	<script src="##site.Url##/static/minify/a-materialize.js"></script>
	<script src="##site.Url##/static/minify/bootstrap.bundle.min.js"></script>
	<script src="##site.Url##/static/minify/jaxify.js"></script>

	<title>Internship Examination | FMC Abeokuta</title>
</head>

<body class="grey lighten-3">