<div id="view-cont" class="">

	<div class="fixed-top p-3 blue lighten-2 text-center white-tex">
		<h3 class="" style="font-family: 'arial black'">Federal Medical Centre Abeokuta Internship Examination</h3>
	</div>

	<div class="position-fixed d-flex align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0">

		<div class="p-4" style="max-width: 500px">

			<div id="msg-cont" class="alert alert-warning mb-5 border"></div>

			<form onsubmit="event.preventDefault(); JAX.sendForm(0, this);" class="d-block white z-depth-1 p-4">
				<p>
					Howdy Apprentice, Please fill in the necessary details to start your exam.
				</p>
				<br/>

				<input type="text" name="user" class="browser-default form-control form-control-lg" placeholder="Username">
				<br/>

				<input type="password" name="pass" class="browser-default form-control form-control-lg" placeholder="Password">
				<br/>

				<input type="submit" class="btn btn-large btn-lg blue lighten-2 white-text w-100" value="LOGIN">

			</form>

		</div>

	</div>

</div>