<div class="bg-img-underlay">
	<div class="row bg-img-main p-4-em">
		<div class="col-sm-7">

			<h3>About Us</h3>
			<p>
				Techkgeekclub is an IT community certified by the Ministry of Education to teach students at various schools Cybersecurity, Programming (with Python Majorly). Techgeekclub is a product of Petabyte Technologies RC 2909856.
			</p>

		</div>

		<div class="col-sm-5">
			
			<h6 class="text-secondary">OUR MISSION</h6>
			<h2>
				To Produce as many SSCE Programmers as We possibly can.
			</h2>

		</div>
	</div>
</div>

<div class="row p-3 pt-0 bg-white-4">
	<div class="col-12">

		<br/><br/><br/>
		
		<div class="container">
			<h3>Our Core Values</h3>
			<br/>
		</div>

		<div class="row">
			
			<div class="col-sm-6">
				<h4>
					<div class="btn-icon btn-rounded shadow-lg bg-danger border-danger border-2 text-white"><i class="fa fa-bar-chart align-middle"></i></div>
					<strong> Data Driven</strong>
				</h4>
				<ul class="list-none list-custom ch-pl-15 text-danger">
					<li><font class="text-dark">We are not afraid to challenge the status-quo</font></li>
					<li><font class="text-dark">We debate respectfully and insightfully as often as we can</font></li>
					<li><font class="text-dark">We never stop learning</font></li>
				</ul>
			</div>

			<div class="col-sm-6">
				<h4>
					<div class="btn-icon btn-rounded shadow-lg bg-info border-danger border-2 text-white"><i class="fa fa-gift align-middle"></i></div>
					<strong> Absolutely Free</strong>
				</h4>
				<ul class="list-none list-custom ch-pl-15 text-info">
					<li><font class="text-dark">We don't charge you</font></li>
					<li><font class="text-dark">You provide the facilities, we provide the equipments</font></li>
					<li><font class="text-dark">We provide a well equiped platform to facilitate learning</font></li>
				</ul>
			</div>

			<div class="w-100">
				<br/>
			</div>

			<div class="col-sm-6">
				<h4>
					<div class="btn-icon btn-rounded shadow-lg bg-success border-success border-2 text-white"><i class="fa fa-book align-middle"></i></div>
					<strong> Giver</strong>
				</h4>
				<ul class="list-none list-custom ch-pl-15 text-success">
					<li><font class="text-dark">We Give challenges Daily, Weekly, Monthly and Yearly</font></li>
					<li><font class="text-dark">We teach basic python and some important libraries Useful in the nearest future</font></li>
					<li><font class="text-dark">We teach Internet/Cyber Security to a Remarkable point</font></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h4>
					<div class="btn-icon btn-rounded shadow-lg bg-warning border-warning border-2 text-white"><i class="fa fa-book align-middle"></i></div>
					<strong> Quality Lessons</strong>
				</h4>
				<ul class="list-none list-custom ch-pl-15 text-warning">
					<li><font class="text-dark">We Give challenges Daily, Weekly, Monthly and Yearly</font></li>
					<li><font class="text-dark">We teach basic python and some important libraries Useful in the nearest future</font></li>
					<li><font class="text-dark">We teach Internet/Cyber Security to a Remarkable point</font></li>
				</ul>
			</div>

		</div>

	</div>
</div>

<div class="w-100">
	<br/><br/>
</div>
<div class="row p-3 bg-white-4">

	<div class="col-12">
		
		<div id="marker" class="row text-center">
			<div class="col-3">
				<h3>
					<strong>5</strong>
					 Schools Participated
				</h3>
			</div>
			<div class="col-3">
				<h3>
					<strong>12</strong>
					 Courses Completed
				</h3>
			</div>
			<div class="col-3">
				<h3>
					<strong>1001</strong>
					 Challenges Solved
				</h3>
			</div>
			<div class="col-3">
				<h3>
					<strong>20</strong>
					 Students Certified
				</h3>
			</div>
		</div>

	</div>
</div>

<div class="w-100">
	<br/><br/>
</div>

<div class="row p-5 bg-white-4">
	
	<div class="col-sm-6">
		<h3><strong>Humble Beginings</strong></h3>
		<p>
			Techgeekclub was created on the 12th October, 2018. We started with 5 schools - Buckswood, Mercy Land, Alaba Lawson, Nobel House and Nigerian Navy Secondary School.
		</p>
	</div>
	<div class="col-sm-6 p-2">
		<img style="height: 100%;max-width: 100%;" src="<?php echo s_image('vid_thumb.jpg'); ?>"/>
	</div>

	<div class="w-100">
		<br/><br/>
	</div>

	<div class="col-sm-6 p-2">
		<img style="height: 100%;width: 100%;" src="<?php echo s_image('team.jpeg'); ?>"/>
	</div>
	<div class="col-sm-6">
		<h3><strong>Meet Our Team</strong></h3>
		<p>
			Our team consist of no more than Petabyte Technology Staff:
		</p>
		<ul>
			<li>Managing Director: Mr. Balogun Khalil</li>
			<li>Diyaolu Abdul Malik</li>
			<li>Jolaosho Abdul Mateen</li>
			<li>Miss Raji Mutiat</li>
		</ul>
	</div>

</div>

<script type="text/javascript">
	var Start = true;

	window.addEventListener('scroll', function(){

		var view = inView($("#marker"));
		if(view){

			var mother = $("#marker .col-3");
			//console.log(mother[0]);

			skul = mother[0].getElementsByTagName("strong")[0];
			cors = mother[1].getElementsByTagName("strong")[0];
			chlg = mother[2].getElementsByTagName("strong")[0];
			cert = mother[3].getElementsByTagName("strong")[0];

			if(Start){

				skul.innerHTML = "0";
				cors.innerHTML = "0";
				chlg.innerHTML = "0";
				cert.innerHTML = "0";

				setInterval(function (){
					Start = true;

					if( Number(skul.innerHTML) < 5 ){

						skul.innerHTML = Number(skul.innerHTML) + 1;

					}

					if( cors.innerHTML < 12 ){

						cors.innerHTML = Number(cors.innerHTML) + 1;

					}

					if( chlg.innerHTML < 1001 ){

						chlg.innerHTML = Math.floor(Number(chlg.innerHTML) + 9.3);

					}else if( chlg.innerHTML > 1001 ){

						chlg.innerHTML = 1001;

					}

					if( cert.innerHTML < 20 ){

						cert.innerHTML = Number(cert.innerHTML) + 1;

					}

					Start = false;
				}, 50, 50);

			}

		}

	});

</script>