<section id="index">


	<div class="bg-img-underlay parallax-anim" style="background-image: url('<?php echo s_image('team.jpeg'); ?>');">

		<table class="parallax text-center">

			<tr class="h-100">

				<td class="h-100" valign="middle">

					<!--SVG ANIMATION TECHGEEKCLUB LOGO -->
					<svg width="340" height="245" style="background: transparent;border-top: 10px solid transparent;" >

						<text x="80" y="170" class="fa font-infinity" style="background: navy !important;" fill="navy">
							&#xf085;
						</text>

						<g tomp name="Left-upper">
							<line x1="60" y1="95" x2="100" y2="95" style="stroke:navy;stroke-width:5px;"/>

							<line x1="50" y1="40" x2="50" y2="85" style="stroke:blue;stroke-width:5px;transform-origin:50px 95px;"/>

							<circle cx="50" cy="95" r="4" style="stroke:#fff;stroke-width:5px;">
								
							</circle>
						</g>

						<g down name="left-lower">
							<line x1="50" y1="130" x2="100" y2="130" style="stroke:navy;stroke-width:5px;"/>

							<line x1="40" y1="140" x2="40" y2="180" style="stroke:blue;stroke-width:5px;transform-origin: 40px 130px;"/>

							<circle cx="40" cy="130" r="4" style="stroke:#fff;stroke-width:5px;">
								
							</circle>
						</g>

						<g down name="bottom">
							<line x1="120" y1="150" x2="120" y2="185" style="stroke:navy;stroke-width:5px;"/>

							<line x1="130" y1="200" x2="160" y2="225" style="stroke:blue;stroke-width:5px;transform-origin: 120px 195px;"/>

							<circle cx="120" cy="195" r="4" style="stroke:#fff;stroke-width:5px;">

							</circle>
						</g>

						<g down name="bottom-left">
							<line x1="210" y1="170" x2="225" y2="197" style="stroke:navy;stroke-width:5px;"/>

							<line x1="238" y1="210" x2="270" y2="230" style="stroke:blue;stroke-width:5px;transform-origin: 230px 205px;"/>

							<circle cx="230" cy="205" r="4" style="stroke:#fff;stroke-width:5px;">
								
							</circle>
						</g>

						<g top name="top-left" style="transform: translate(-5px, 230px) rotateX(180deg);transform-origin: 0 0;">
							<line x1="210" y1="170" x2="225" y2="197" style="stroke:navy;stroke-width:5px;"/>

							<line x1="238" y1="210" x2="270" y2="230" style="stroke:blue;stroke-width:5px;transform-origin: 230px 205px;"/>

							<circle cx="230" cy="205" r="4" style="stroke:#fff;stroke-width:5px;">
								
							</circle>
						</g>

						<g top name="bottom" style="transform: translate(0px, 230px) rotateX(180deg);transform-origin: 0 0;">
							<line x1="120" y1="150" x2="120" y2="185" style="stroke:navy;stroke-width:5px;"/>

							<line x1="130" y1="200" x2="160" y2="225" style="stroke:blue;stroke-width:5px;transform-origin: 120px 195px;"/>

							<circle cx="120" cy="195" r="4" style="stroke:#fff;stroke-width:5px;">

							</circle>
						</g>

					</svg>

				</td>

			</tr>

		</table>
		
		<div class="row bg-img-main p-5-em">

			<div class="col-12">

				<center class="text-light">

					<span class="font-medium text-uppercase" style="font-family: 'sans-serif'; font-size: 2.2em">
						join our network of <b>teenage developers.</b>
					</span>

					<p class="font-medium-1">Practice Coding, solve Challenges, and Become an IT Guru.</p>
					
					<div class="pages" style="text-align:center; ">
						<a href="account.php" class="text-white btn btn-primary mb-2 btn-lg px-4" style="border-radius: 30px">GET STARTED</a>

						<p>We are Building the Future <a href="about.php">Learn more</a></p>
					</div>

				</center>

			</div>

		</div>

	</div>

	<div class="row p-5" style="background: lightgrey">

		<div class="col-sm-6 col-lg-4 mb-4">

			<div class="p-4 text-center">

				<div class="mx-auto border d-flex justify-content-center align-items-center" style="width: 5rem; height: 5rem; border-radius: 50%">
					<div class="bg-white d-flex justify-content-center align-items-center" style="width: 4rem; height: 4rem; border-radius: 50%; font-size: 2em">
						1
					</div>
				</div>
				<br/>

				<h4 style="font-family: 'arial black'">Choose what to learn</h4>
				<br/>
				<p>
					From building websites, cyber security to analyzing data, the choice is yours. Not sure where to start? We'll point you in the right direction.
				</p>

			</div>		

		</div>

		<div class="col-sm-6 col-lg-4 mb-4">

			<div class="p-4 text-center">

				<div class="mx-auto border d-flex justify-content-center align-items-center" style="width: 5rem; height: 5rem; border-radius: 50%">
					<div class="bg-white d-flex justify-content-center align-items-center" style="width: 4rem; height: 4rem; border-radius: 50%; font-size: 2em">
						2
					</div>
				</div>
				<br/>

				<h4 style="font-family: 'arial black'">Learn by doing</h4>
				<br/>
				<p>
					No matter your experience level, you'll be writing real, working code in minutes.
				</p>

			</div>		

		</div>

		<div class="col-sm-6 col-lg-4 mb-4">

			<div class="p-4 text-center">

				<div class="mx-auto border d-flex justify-content-center align-items-center" style="width: 5rem; height: 5rem; border-radius: 50%">
					<div class="bg-white d-flex justify-content-center align-items-center" style="width: 4rem; height: 4rem; border-radius: 50%; font-size: 2em">
						3
					</div>
				</div>
				<br/>

				<h4 style="font-family: 'arial black'">Get instant feedback</h4>
				<br/>
				<p>
					Your code is tested as soon as you submit, so you always know if you're on the right track.
				</p>

			</div>		

		</div>

		<div class="col-sm-6 col-lg-4 mb-4">

			<div class="p-4 text-center">

				<div class="mx-auto border d-flex justify-content-center align-items-center" style="width: 5rem; height: 5rem; border-radius: 50%">
					<div class="bg-white d-flex justify-content-center align-items-center" style="width: 4rem; height: 4rem; border-radius: 50%; font-size: 2em">
						4
					</div>
				</div>
				<br/>

				<h4 style="font-family: 'arial black'">Put your learning to practice</h4>
				<br/>
				<p>
					Apply your learning with real-world projects and test your knowledge with tailor-made quizzes.
				</p>

			</div>		

		</div>

		<div class="col-sm-6 col-lg-4 mb-4">

			<div class="p-4 text-center">

				<div class="mx-auto border d-flex justify-content-center align-items-center" style="width: 5rem; height: 5rem; border-radius: 50%">
					<div class="bg-white d-flex justify-content-center align-items-center" style="width: 4rem; height: 4rem; border-radius: 50%; font-size: 2em">
						5
					</div>
				</div>
				<br/>

				<h4 style="font-family: 'arial black'">Land your dream job</h4>
				<br/>
				<p>
					Coding skills have never been more in-demand. Learn everything you need to take your career to next level.
				</p>

			</div>		

		</div>

		<div class="col-sm-6 col-lg-4 mb-4">

			<div class="p-4 text-center">

				<div class="mx-auto border d-flex justify-content-center align-items-center" style="width: 5rem; height: 5rem; border-radius: 50%">
					<div class="bg-white d-flex justify-content-center align-items-center" style="width: 4rem; height: 4rem; border-radius: 50%; font-size: 2em">
						6
					</div>
				</div>
				<br/>

				<h4 style="font-family: 'arial black'">24/7 coding support</h4>
				<br/>
				<p>
					Our community of coaches, advisors, and graduates means there's always someone to answer your question.
				</p>

			</div>		

		</div>

	</div>
	<div class="px-4 py-5 text-center">

		<h2 class="text-uppercase">WE ARE PARTNERS WITH</h2>
		<br/>

		<div class="">

			<i class="fa fa-facebook fa-3x text-secondary mx-2 mx-md-5"></i>
			<i class="fa fa-windows fa-3x text-secondary mx-2 mx-md-5"></i>
			<i class="fa fa-google fa-3x text-secondary mx-2 mx-md-5"></i>
			<i class="fa fa-amazon fa-3x text-secondary mx-2 mx-md-5"></i>
			<i class="fa fa-apple fa-3x text-secondary mx-2 mx-md-5"></i>

		</div>

	</div>
	<div class="px-4 py-5 px-md-5 text-center">

		<h3 style="font-family: 'arial black'">Progress faster with TechGeekClub</h3>
		<div class="row justify-content-center">

			<div class="col-sm-6 col-lg-4 p-4">

				<font color="purple"><i class="fa fa-3x fa-cubes"></i></font>
				<br/><br/>

				<h3>Structured Curriculum</h3>
				<hr/>
				<p>
					Our courses are designed to keep you on track, so you learn to code "today" not "someday".
				</p>

			</div>

			<div class="col-sm-6 col-lg-4 p-4">

				<font color="pink"><i class="fa fa-3x fa-lightbulb-o"></i></font>
				<br/><br/>

				<h3>Practice Smarter</h3>
				<hr/>
				<p>
					Our courses are designed to keep you on track, so you learn to code "today" not "someday".
				</p>

			</div>

			<div class="col-sm-6 col-lg-4 p-4">

				<font color="gold"><i class="fa fa-3x fa-clock-o"></i></font>
				<br/><br/>

				<h3>One Day, One New Skill</h3>
				<hr/>
				<p>
					Most of our free courses take fewer than 11 hours.
				</p>

			</div>

		</div>

		<div class="text-center">

			<a href="account.php" class="btn btn-primary btn-lg mw-100" style="width: 250px; border-radius: 30px">
				GET STARTED
			</a>

		</div>

	</div>


	<div class="px-4 py-5 px-md-5 text-center bg-info text-white">

		<h3 style="font-family: 'arial black'">What you will learn</h3>
		<div class="row justify-content-center">

			<div class="col-sm-6 col-lg-4 p-4">

				<font color="yellow"><i class="fa fa-3x fa-tv"></i></font>
				<br/><br/>

				<h3>Web Development</h3>
				<hr/>
				<p>
					Master the languages of the web: HTML, CSS, and JavaScript. This path will prepare you to build basic websites and then build interactive web apps.
				</p>

			</div>

			<div class="col-sm-6 col-lg-4 p-4">

				<font color="aqua"><i class="fa fa-3x fa-code"></i></font>
				<br/><br/>

				<h3>Computer Programming</h3>
				<hr/>
				<p>
					Learn Programming fundamentals in JAVA & Python, fastest and hottest programming languages. This is a great introduction to the world of code.
				</p>

			</div>

			<div class="col-sm-6 col-lg-4 p-4">

				<font color="maroon"><i class="fa fa-3x fa-eye-slash"></i></font>
				<br/><br/>

				<h3>Cyber Security</h3>
				<hr/>
				<p>
					Learn to protect you and others from attack on the internet. Good for people that want to ensure security in the network.
				</p>

			</div>

		</div>

	</div>

</section>